

  <div class="row">
    <div class="card" *ngFor="let news of newsList">

        <h5>{{ news._id }}</h5>
        <h5>{{ news.title }}</h5>
        <p>{{ news.subtitle }}</p>
        <p>{{ news.section.name }} ||  {{ news.section.icon }}</p>
        <p> {{ news.images.length }}</p>



        <div *ngFor="let image of news.images;let index = index">
          <ngb-carousel id="carousel" [interval]="2000" [pauseOnFocus]="true">
            <ng-template ngbSlide>
              <img  [src]="image" [alt]="'Slide '+index">
            </ng-template>
            <ng-template ngbSlide>
              <img  [src]="image" [alt]="'Slide '+index">
            </ng-template>

          </ngb-carousel>

        </div>

        <p>{{ news.author }}</p>
        <p>Fecha:  {{ news.dateFormatted }}</p>
        <p>{{ news.content }}</p>

        <button (click)="borar(news._id)">Borrar</button>
    </div>

</div>
