<!-- app.component.html -->
<div class="cont add-button">
  <button class="botonP" (click)="navigateToAddNews()">Añadir una Noticia</button>
</div>

<div class="popup" *ngIf="mostrarConfirmacion">
  <div class="row container">
    <div class="col"><h3 class="">Confirmación</h3></div>
    <div class="col-2"><button class="boton-cerrar" (click)="cancelarBorrar()">X</button></div>
  </div>

  <div class="row">
    <div class="col-8">
      <p>¿Desea eliminar la noticia?</p>
      <button class="boton-confirmar" (click)="confirmarBorrar()">Confirmar</button>
    </div>
  </div>
</div>

<div class="row card-container">
  <div class="card" *ngFor="let news of newsList">
    <h5>{{ news.title }}</h5>
    <p>{{ news.subtitle }}</p>
    <p>{{ news.section.name }} || {{ news.section.icon }}</p>
    <ngb-carousel [id]="'carousel-' + news._id" [interval]="2000" [pauseOnFocus]="true" [showNavigationArrows]="false" [showNavigationIndicators]="false">
      <ng-template ngbSlide *ngFor="let image of news.images; let index = index">
        <img class="img-card" [src]="image" [alt]="'Slide ' + index">
      </ng-template>
    </ngb-carousel>

    <p>{{ news.author }}</p>
    <p>Fecha: {{ news.dateFormatted }}</p>
    <p>{{ news.content }}</p>

    <div class="container">
      <button class="boton-borrar" (click)="borrar(news._id)">Borrar</button>
      <button class="boton-editar" (click)="editar(news._id)">Editar</button>
    </div>
  </div>
</div>
