<div class="container">
  <h2>{{ isNew ? 'Añadir Noticia' : 'Editar Noticia' }}</h2>

  <form (ngSubmit)="guardarNoticia()" #newsForm="ngForm" *ngIf="new">

    <div class="form-group">
      <label for="title">Título:</label>
      <input type="text" id="title" name="title" [(ngModel)]="new.title" required>
    </div>

    <div class="form-group">
      <label for="subtitle">Subtítulo:</label>
      <input type="text" id="subtitle" name="subtitle" [(ngModel)]="new.subtitle" required>
    </div>

    <div class="form-group">
      <label>Selecciona una sección:</label>
      <select name="section" [(ngModel)]="new.section" required>
        <option *ngFor="let section of sections" [ngValue]="section">{{ section.name }}</option>
      </select>
    </div>

    <div *ngIf="new.section">
      <div class="form-group" >
        <label>Nombre de la sección:</label>
        <input type="text" name="sectionName" [(ngModel)]="new.section.name" required>
      </div>

      <div class="form-group" >
        <label>Icono de la sección:</label>
        <input type="text" name="sectionIcon" [(ngModel)]="new.section.icon" required>
      </div>
    </div>


    <div class="form-group">
      <label for="content">Contenido:</label>
      <textarea id="content" name="content" [(ngModel)]="new.content" required></textarea>
    </div>

    <div class="form-group">
      <label for="author">Autor:</label>
      <input type="text" id="author" name="author" [(ngModel)]="new.author" required>
    </div>

    <div *ngFor="let image of images; let i = index">
      <div class="form-group">
        <label for="image{{ i }}">Imagen {{ i + 1 }}</label>
        <input type="text" id="image{{ i }}" name="images" [(ngModel)]="images[i]" required>
        <button type="button" class="butonRed" (click)="removeImageField(i)">Eliminar Imagen</button>
      </div>
    </div>

    <button type="button" class="agregarImagen" (click)="addImageField()">Agregar Imagen</button>

    <button type="submit">{{ isNew ? 'Añadir' : 'Guardar Cambios' }}</button>
  </form>
</div>
